node_modules/
.pnpm-store/

.env
.env.*
!.env.example

coverage/
playwright-report/
test-results/

**/dist/
**/.vite/

.DS_Store
Thumbs.db

.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

*.log
