@import 'tailwindcss';

html,
body,
#root {
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font: inherit;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
